# <span style="color:deepskyblue">09 자전거 대여 수요 예측 </span>    
---

2011년 1월부터 2012년 12월까지 날짜.시간,기온,습도,풍속 등의 정보를 기반으로 1시간 간격 동안의 자전거 대여 횟수가 기재되어 있음

- datetime: hourly date + timestamp    
- season: 1 = spring, 2 = summer, 3 = fall, 4 = winter   
- holiday  
    1: 주말을 제외한 국경일 들의 휴일
    0: 휴일이 아닌 날
- workingday 
    1: 주말 및 휴일이 아닌 주중
    0: 주말 및 휴일
- weather  
    1: 맑음, 약간 흐림 
    2: 안개, 안개+흐림
    3: 가벼운 눈, 가벼운 비+천둥  
    4: 심한 눈/비,천둥/번개  
- temp: 온도
- atemp: 체감온도  
- humidity: 상대습도  
- windspeed: 풍속
- casual: 회원이 아닌 사용자가 대여한 횟수 
- registered: 회원이 대여한 횟수 
- count: 대여 횟수

## <span style="color:lightpink">데이터 클렌징 및 가공 </span>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning)

bike_df = pd.read_csv('./bike_train.csv')
print(bike_df.shape)
bike_df.head(3)

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32

In [2]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB